* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}


section {
  background-color: white;
}

.hero {
  /* background-color: #1c1d25; */
  background-image: linear-gradient(to bottom right, rgb(75, 213, 255), rgb(161, 252, 255));
  height: 100vh;
  color: white;
  font-size: 40px;
}

footer {
  /* background-color: rgb(153, 152, 152); */
  background-image: linear-gradient(to bottom right, rgb(75, 213, 255), rgb(161, 252, 255));
  color: white;
  /* text-align: center; */
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.about-paragraph {
  color: #161616;
  padding-bottom: 50px;
}

.sub-text {
  font-size: 15px;
  font-weight: 300;
  color: #161616;
  padding-left: 5px;
  padding-right: 5px;
 
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 40px;
  background-color: #2b8a3e;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #2f9e44;
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

.socials {
  padding-bottom: 200px;
}

.logo {
  height: 80px;
  margin: 20px;
  font-family: 
  font-size: 50px;
}

.social-icon {
  margin: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.sub-section-alt {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
}

.sub-section-alt h2 {
  padding-bottom: 40px;
}

.headshot {
  width: 300px;
  border-radius: 150px;
  margin-left: 50px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.project-card {
  height: 500px;
  width: 300px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
  border-radius: 20px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-img {
  margin-top: 25px;
  width: 250px;
  border-radius: 125px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: #2b8a3e;
}

.project-link:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: white;
}

.resume-link {
  color: black;
}

.bars {
  display: none;
}

.bars:focus {
  outline: 0;
}

/* responsive javascript for when the page is less than 1000px. Access the nav bar from the bar button. */
@media only screen and (max-width: 1000px) {
  .bars {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: rgba(75, 21, 255, 0);
    margin: 0px;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(75, 21, 255, 0);
  }

  .logo {
    display: none;
  }
}


/* contact form */

form {
  width: 90%;
  max-width: 600px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 15px;
}

footer h2 {
  text-align: center;
  margin-bottom: 25px;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  color: #000;
  cursor: text;
  transition: 0.2s;
}

.submit-button {
  padding: 8px 0;
  color: #000;
  outline: none;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label
{
  top: -35px;
  font-size: 14px;
  color: #fff;
}

.contact-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-row .input-group{
  flex-basis: 48%;
}

.footer-note {
  font-size: 12px;
  text-align: center;
  padding-top: 80px;
  color: rgb(37, 37, 37)
}

/* night mode switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* dark-mode styling */

/* resume link */

.resume-link:hover {
  text-decoration: underline;
  color: red;

}


/* responsive css queries */

/* @media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 50%;
  }
  li {
    font-size: 16px;
  }
  .hero-text {
    margin-left: 10px;
  }
  .hero-area {
    height: 70%;
  }
  .hero {
    height: 50%;
  }
  h2 {
    font-size: 18px;
  }
  .sub-section {
    width: 100%;
    padding-left: 20px;
  }
  .button {
    visibility: hidden;
  }

  .about-paragraph {
    font-size: 12px;
    width: 150%;
  }
  .headshot {
    width: 75%;
  
  }
  .headshot-container {
    margin-left: 30px;
  }
} */